@use '../../styles/colors';

$border-radius: 18px;

.container-page {
  display: flex;
  align-items: center;
  flex-direction: column;

  li {
    margin-top: 0.5rem;
  }


}

.c-pokemon-details-page {
  border-radius: $border-radius;
  padding: 1rem;
  background-color: colors.$text-color;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 18px;
  width: 60%;

  @media (width <=768px) {
    display: flex;
    flex-direction: column;
    width: 90%;
    .c-base-stats {
      grid-column-start: unset;
      grid-column-end: unset;
      height: fit-content;
    }

    .c-attributes {
      height: fit-content;
    }



    .c-sprites {
      grid-row: unset;
    }
  }


}

.c-sprites {
  grid-row: span 2 / span 2;
  display: flex;
  flex-direction: column;
  align-items: center;

  .main-image {
    max-width: 16rem;
  }
}

.c-sprites-back-front {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.image-sprite {
  height: 5.5rem;
  margin-top: 1rem;
}

.c-sprite {
  background-color: white;
  border-radius: $border-radius;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 35%;
}

.c-attributes {
  background-color: white;
  border-radius: $border-radius;
}

.c-base-stats {
  grid-column-start: 2;
  grid-row-start: 2;
  background-color: white;
  border-radius: $border-radius;
}

.text-centered-capitalized {
  justify-self: center;
  text-transform: capitalize;
}

.badge-type {
  margin-right: 0.5rem;
  border-radius: $border-radius;
  background-color: colors.$primary-color;
  text-transform: capitalize;
  text-align: center;
  font-size: 0.9rem;
  color: colors.$text-color;
  padding: {
    left: 0.3rem;
    right: 0.3rem;
    top: 0.2rem;
    bottom: 0.2rem;
  }
}

