@use "../../styles/colors";

.c-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: colors.$text_color;

  &:hover {
    cursor: pointer;
  }

  &__image {
    height: 6rem;
    object-fit: contain;
  }

  &__title {
    font-size: 4rem;
  }
}